$font-stack: Arial,Helvetica,sans-serif;
$light-color: #e7f3e3;
//$secondary-color: #ffb8b8;
$secondary-color: #ff1818;
//$primary-color: #e7ffe7;
$primary-color: #00e100;

@function set-text-color($color){
     @if(lightness($color)> 70){
          @return #333;
     } @else{
          @return #fff;
     }
}

@mixin set-background-color($color) {
     background-color: $color;
     color: set-text-color($color);
}